[user]
	email = amcolash@gmail.com
	name = Andrew McOlash
[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = meld "$LOCAL" "$REMOTE"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output="$MERGED"

[alias]
	d = difftool
	a = add
	c = commit
	p = push
	s = status
  l = log --pretty=oneline
  rm-merged = !git branch --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" { print $1 }' | xargs -r git branch -D
	cleanup = !git branch --show-current > ~/.git_current_branch && git switch main && git pull --prune && git rm-merged && git switch $(cat ~/.git_current_branch) && rm ~/.git_current_branch
  merge-main = !git branch --show-current > ~/.git_current_branch && git switch main && git pull --prune && git switch $(cat ~/.git_current_branch) && rm ~/.git_current_branch && git merge main
  merge-master = !git branch --show-current > ~/.git_current_branch && git switch master && git pull --prune && git switch $(cat ~/.git_current_branch) && rm ~/.git_current_branch && git merge master
  cv = commit --no-verify

[pull]
	rebase = false
[remote "origin"]
	prune = true
[init]
	defaultBranch = main
