[Unit]
Description=Automatically update user Flatpaks
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --assumeyes --noninteractive

[Install]
WantedBy=multi-user.target
